<% if not @invite.nil? %>
<h2>Welcome to Amplifize!</h2>
<p><%= @invite.user.display_name %> has invited you to join Amplifize.  Enter a password below to get started!</p>
<%= render 'users/form' %>
<% else %>
<h3>Sorry, this invitation has expired.</h3>
<% end %>
