<h2>Welcome to Amplifize!</h2>
<% if not @invite.nil? %>
<p><%= @invite.user.display_name %> has invited you to join amplifize.  Enter a password below to get started!</p>
<% else %>
<h3>Oops, this invitation is invalid.  But alas you should sign up anyway!</h3>
<% end %>
<%= render 'users/form' %>