<%= form_for @feed, :remote => true do |f| %>
    <div class="formField">
    	<label class="input">
    		<span>URL</span>
    		<%= f.text_field :url, :size => 20 %>
    	</label>
    </div>
    <div class="formField">
    	<label class="input">
    		<span>Tags</span>
    		<%= f.text_field :tags, :size => 20, :value => '' %>	
    	</label>
    	<p class="instructions">Seperate multiple tags with a comma.</p>
    </div>
    <%= f.submit :value => "Subscribe" %>
<% end %>
