<h2>Change My Password</h2>

<%= form_for @user, :url => password_reset_path, :method => :put do |f| %>
	<div class="field">
		<label class="input">
			<span>Password</span>
			<%= f.password_field :password %>
		</label>
	</div>
	<div class="field">
		<label class="input">
			<span>Password confirmation</span>
			<%= f.password_field :password_confirmation %>
		</label>
	</div>	
    <input type="submit" style="margin-top: 10px; color: #fff; padding: 5px; width: 250px; font-size: 15px; background-color: #3AAADB; font-family: 'Calibri', sans-serif; border-radius: 12px;-moz-border-radius: 12px;-webkit-border-radius: 12px; border: 1px solid #3AAADB;" value="Update my password and log me in" />
<% end %>