vendor/cache/*
db/sphinx/*
vendor/assets/*
.metadata/
.project
lambda
.DS_Store
screen\ shots/*
marketing/*
milestones/*
test/OPML files/*
*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
