<h3 style="margin-bottom: 20px;">Why Amplifize?</h3>

<p>There are a lot of RSS readers out there. You can get your Tweets, Facebook updates, and other social media from Tweetdeck. So why build another way to consume all of this information?</p>

<p>The problem is that none of the existing solutions make the content much fun to read. What's fun about Amplifize? It's all about the conversations you have with friends about the things that already bring you together.</p>

<p>You might say... "Hey now, I used to do that in Google Reader." We know, we did too. But because Google+ is now king, the experience in Google Reader is majorly gutted. On top of that, Google never made the conversation king, and that's exactly what we plan to do with Amplifize.</p>

<p><%= link_to "Join us", :signup %></p>

