<div id="amplifizeContentNavigation">
	<% if "shares" == view then %>
	<form name="selectFollows" id="selectFollows">
		<select>
			<option value="all">All followees</option>
			<% @followed.each do |followee| %>
			<option value="<%= followee.id %>"><%=followee.display_name.nil? ? followee.email : followee.display_name %></option>
			<% end %>
		</select>
	</form>
	<% else %>
	<form name="selectTag" id="selectTag">
		<select>
			<option value="all">All feeds</option>
			<% @tags.each do |tag|%>
			<option value="<%= tag.name %>"><%=tag.name%></option>	
			<%end%>
		</select>
	</form>
	<% end %>

	<a href="#" onclick="downPost();">previous</a>
	<a href="#" onclick="upPost();">next</a>
	<a href="#" onclick="setReadState(1);">keep unread</a>
	<% if "shares" == view then %>
	<a href="#" id="commentNavItem">comment</a>
	<% else %>
	<a href="#" id="shareNavItem">share</a>
	<% end %>
	<a href="#" onclick="markAllAsRead();">Mark all posts as read</a>
</div>