<div id="amplifizeContentNavigation">
	<% if "shares" == view then %>
	<form name="selectFollows" id="selectFollows">
		<label>Conversation filter</label>
		<select>
			<option value="all">All conversations</option>
			<% @followed.each do |followee| %>
			<option value="<%= followee.id %>"><%= followee.display_name.nil? ? followee.email : followee.display_name %>'s conversations</option>
			<% end %>
		</select>
	</form>
	<% end %>

	<div id="menuOptions">
		<% if "shares" == view then %>
			<a class="navTab" href="#addComment-modal-content" data-toggle="modal">comment</a>
		<% else %>
			<a href="#addShare-modal-content" data-toggle="modal" class="navTab">share content</a>
		<% end %>
		<a href="#" onclick="setReadState(1);" class="navTab">read later</a>
		<a href="#" onclick="downPost();" title="Previous" class="btn">&lt;</a>
		<a href="#" onclick="upPost();" title="Next" class="btn">&gt;</a>
	</div>
	<div style="clear:both;"></div>
</div>