<div id="amplifizeContentNavigation">
	<div id="menuOptions">
		<% if "shares" == view then %>
			<a class="navTab" href="#addComment-modal-content" data-toggle="modal">comment</a>
		<% else %>
			<a href="#addShare-modal-content" data-toggle="modal" class="navTab">share content</a>
		<% end %>
		<a href="#" onclick="setReadState(1);" class="navTab">read later</a>
		<a href="#" onclick="downPost();" title="Previous" class="btn">&lt;</a>
		<a href="#" onclick="upPost();" title="Next" class="btn">&gt;</a>
	</div>
	<div style="clear:both;"></div>
</div>