<div id="amplifizeContent">
	<% if "shares" == view then %>
	<div id="shareInfo">
		<!--<p id="commentsHeader">Hide comments</p>-->
		<table id="commentThread">
			<tr>
				<td>Shared by: <span id="sharedBy"></span> who says: <blockquote id="conversationStarter"></blockquote></td>
			</tr>
		</table>
	</div>
	<% end %>

	<div id="contentRow">
		<span id="contentTitle"></span>
		From <span id="feedTitle"></span> <span id="contentAuthor"></span><span id="contentPublishDate"></span>
	</div>
	<div id="contentSummary"></div>
	<div style="clear: both;"></div>
</div>
