<div id="amplifizeContent">
	<% if "shares" == view then %>
		Shared by: <span id="sharedBy"></span> who says: <div id="conversationStarter"></div>
		<hr/>
	<% end %>

	<div id="feedRow">
		<span id="feedTitle"></span>
	</div>
	<div id="contentRow">
		<span id="contentTitle"></span>
		<span id="contentAuthor"></span><span id="contentPublishDate"></span>
	</div>
	<div id="contentSummary"></div>
	<% if "shares" == view then %>
	<hr/>
	<h3>Comments:</h3>
	<div id="commentThread"></div>
	<% end %>
	<div style="clear: both;"></div>
</div>
