<div id="subNavContainer">
	<div style="float: left; margin-right: 50px;">
		<%if "feeds" == view %>
		You are currently reading all feeds.
		<%else%>
		You are currently reading all conversations.
		<%end%>
		<br/>
		<a href="#" onclick="loadReaderSourceOverlay();" style="font-size: 11px;">Change feed source</a>
		<a href="#readerOrder-overlay" data-toggle="modal" style="font-size: 11px;">Change reader settings</a>
	</div>
	<%if "feeds" == view %>
	<a href="/reader/feeds/manage">Manage sources</a>
	<a href="#addFeed-modal-content" data-toggle="modal">Add content source</a>
	<a href="#" onclick="markAllAsRead();">Clear all content</a>
	<%end%>
	<div style="clear:both;"></div>
</div>