<div id="subNavContainer">
	<div style="float: left; margin-right: 50px;">
		You are currently reading all feeds.<br/><a href="#" onclick="loadFilterView();" style="font-size: 11px;">Change filter</a>
	</div>
	<a href="#" onclick="markAllAsRead();">Clear all content</a>
	<a href="/reader/feeds/manage">Manage sources</a>
	<a href="#addFeed-modal-content" data-toggle="modal">Add content source</a>
	<div style="clear:both;"></div>
</div>