<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "feeds.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "feeds.js", "addShare.js" %>
	<script type="text/javascript">
		var posts = <%= @posts %>;
	</script>
<% end %>

<div id="amplifizeContent">
	<div id="feedRow">
		<span id="feedTitle"></span>
		<!-- will add tags here eventually -->
		<div id="amplifizeContentNavigation">
			<a href="#" onclick="downPost();">previous</a>
			<a href="#" onclick="upPost();">next</a>
			<a href="#" onclick="setReadState(1);">keep unread</a>
			<a href="#" id="shareNavItem">share</a>
		</div>
	</div>
	<div id="contentRow">
		<span id="contentTitle"></span>
		<span id="contentPublishDate"></span>
	</div>
	<div id="contentSummary"></div>
	<div style="clear: both;"></div>
</div>

<div id="addShares-modal-content">
	<div id="addShares-modal-title">Share post</div>
	<div id="addShares-modal-data">
		<form method="POST" action="/shares/add" data-remote="true" id="addShareForm">
			<input type="hidden" value="" id="sharePostId" name="postId" />
			<label for="summary">Summary (required)</label><br/>
			<textarea name="summary" id="summary" cols="20"></textarea><br/>
			<input type="submit" value="Share" />
		</form>
	</div>
</div>
