<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "feeds.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "feeds.js", "addShare.js", "addFeed.js", "importFeed.js" %>
	<script type="text/javascript">
		var posts = <%= @posts %>;
	</script>
<% end %>

<div id="amplifizeContent">
	<div id="feedRow">
		<span id="feedTitle"></span>
		<div id="amplifizeContentNavigation">
			<a href="#" onclick="downPost();">previous</a>
			<a href="#" onclick="upPost();">next</a>
			<a href="#" onclick="setReadState(1);">keep unread</a>
			<a href="#" id="shareNavItem">share</a>
		</div>
	</div>
	<div id="contentRow">
		<span id="contentTitle"></span>
		<span id="contentPublishDate"></span>
	</div>
	<div id="contentSummary"></div>
	<div style="clear: both;"></div>
</div>
