<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "feeds", "jquery.selectbox" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "feeds", "jquery.selectbox-0.2.min" %>
<% end %>

<% content_for :subnav do %>
	<div id="contentViewOptions">
		<div class="subNavItem">
			<span class="navLabel">Content order:</span>
			<select id="toggleContentSelect" onchange="toggleContentOrder();">
				<option value="newestFirst">Newest first</option>
				<option value="oldestFirst">Oldest first</option>
			</select>
			<div class="clear"></div>
		</div>
		<div class="subNavItem">
			<span class="navLabel">Content layout:</span>
			<select id="toggleContentLayout" onchange="toggleContentLayout();">
				<option value="postView">Post view</option>
				<option value="titleView">Title view</option>
			</select>
			<div class="clear"></div>
		</div>
		<div class="subNavItem">
			<span class="navLabel">Content sort:</span>
			<select id="toggleContentSort" onchange="toggleContentSort();">
				<option value="unreadOnly">New content only</option>
				<option value="allContent">All content</option>
				<option value="favoriteContent">Favorited content</option>
			</select>
			<div class="clear"></div>
		</div>
		<div class="subNavItem">
			<span class="navLabel">Filter content:</span>
			<select id="newFilter" onchange="setNewFilter();">
					<option value="all">All tags</option>
				<% @tags.each do |tag| %>
					<option value="<%= tag.name %>"><%= tag.name %></option>
				<% end %>
			</select>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div style="clear:both"></div>
<% end %>
<div id="source_content">
  	<div id="contentSourceSite">Currently reading <span id="feedTitle"></span> from <span id="currentTag">all tags</span>.</div>
	<div id="contentMetadata">
		<div id="contentTitleBanner">
			<div id="contentTitle"></div>
			<div class="clear"></div>
		</div>
		<p id="contentInfoLine"><span id="contentPublishDate"></span><span id="contentArthur"></span></p>
	</div>
	<div id="contentBody">
	</div>
</div>

<div id="contentNavigation">
	<div id="shareContentOption" class="navTab postViewOnly" style="padding-top:5px;">
      	<a href="#" onclick="loadFlyOut();return false;">Share content</a>
	</div>
	<div class="navTab postViewOnly" style="padding-top:5px;">
      	<a href="#" onclick="setReadState(1);return false;" class="navTab">Read content later</a>
	</div>
	<div class="navTab postViewOnly" style="padding-top:5px;">
      	<a href="#" onclick="setReadState(3);return false;" class="navTab">Favorite content</a>
	</div>
	<div class="navTab" style="padding-top:5px;">
    	<a href="#" class="navTab confirm-delete">Clear all content from this tag</a>
	</div>
	<div class="navTab">
		<a href="#" onclick="downPost();" id="previousContent" class="btn" title="Previous content">&lt;</a>
		<a href="#" onclick="upPost();" id="nextContent" class="btn" title="Next content">&gt;</a>
	</div>
	<div class="clear"></div>
	<div id="sharePostFlyout">
		<form method="POST" action="/shares/add" data-remote="true" id="addShareForm">
			<input type="hidden" value="" id="sharePostId" name="postId" />
			<label for="summary">Tell us why you're sharing:</label>
			<textarea name="summary" id="summary" style="width: 95%; height: 75px;" class="htmlEditor"></textarea><br/>
			<input type="submit" value="Share" />
			<input type="button" value="Cancel" onclick="hideFlyOut();" />
		</form>
	</div>
</div>

<div id="addShare-modal-content" class="modal hide" style="z-index:2000;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Share content</h3>
	</div>
	<div id="modal-body" class="modal-body-style">
		<form method="POST" action="/shares/add" data-remote="true" id="addShareForm">
			<input type="hidden" value="" id="sharePostId" name="postId" />
			<label for="summary">Comment</label>
			<textarea name="summary" id="summary" style="width: 470px; height: 100px;" class="htmlEditor"></textarea><br/>
			<input type="submit" value="Share" />
		</form>
	</div>
</div>

<div id="confirm-delete-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <p>You are about to clear all content from the current tag.</p>
        <p>Are you sure?</p>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="markAllAsRead();" class="btn danger">Yes</a>
        <a href="javascript:$('#confirm-delete-modal').modal('hide')" class="btn secondary">No</a>
    </div>
</div>

<div id="postPopup-modal-content" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<div id="popup_contentOptions" style="margin-left: 300px;">
			<a href="#addShare-modal-content" data-toggle="modal" class="popup_navTab">
          		<div class="popup_contentOptionBackground share_icon"></div>
          		<span class="popup_contentOptionText">Share content</span>
          		<div class="clear"></div>
			</a>
			<a style="margin-left: -10px;" href="#" onclick="setReadState(1);return false;" class="popup_navTab">
				<div class="popup_contentOptionBackground read-later_icon"></div>
				<span class="popup_contentOptionText">Read later</span>
				<div class="clear"></div>
			</a>
			<a style="margin-left: -10px;" href="#" onclick="setReadState(3);return false;" class="popup_navTab">
				<div class="popup_contentOptionBackgroundStar"></div>
				<span class="popup_contentOptionText">Favorite</span>
				<div class="clear"></div>
			</a>
			<div class="clear"></div>
		</div>
		<div id="popup_navigation" style="margin-right:25px;">
			<a style="margin-left: 10px;" href="#" onclick="downPost();" id="popup_previousContent" class="btn" title="Previous content">&lt;</a>
			<a style="margin-left: 10px;" href="#" onclick="upPost();" id="popup_nextContent" class="btn" title="Next content">&gt;</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="modal-body modal-body-style" style="max-height: none; min-height:90%; width:910px; padding-top: 0px;">
		<h3 id="popup_contentTitle"></h3>
		<div id="popup_source_content">
			<div id="popup_contentSourceSite">Currently reading <span id="popup_feedTitle"></span> from <span id="popup_currentTag">all tags</span>.</div>
			<div id="popup_contentMetadata">
				<p id="popup_contentInfoLine"><span id="popup_contentPublishDate"></span><span id="popup_contentArthur"></span></p>
			</div>
			<div id="popup_contentBody">
			</div>
		</div>
	</div>
</div>
