<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "reader_homepage.css" %>
<% end %>


<div id="contentPreview">
	<h3>New content:</h3>
	<h2><%= @posts_unread_count %></h2>
</div>
<div id="conversationPreview">
	<h3>New conversations:</h3>
	<h2><%= @shares_unread_count %></h2>
</div>
