<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "people.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "findPeople.js" %>
<% end %>

<div id="findPeople-content">
	<h3>Find people to follow</h3>
	<%= render "users/search_form" %>
	<div id="userSearchResultsDiv">
		<p id="userSearchResults">Results<p>
		<table id="userSearchResultsTable">
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>

<div id="manageFollows-content">
	<h3>Manage follows (coming soon)</h3>
	<table id="followTable">
		<tr>
			<td width="75%">Email</td>
			<td>Options</td>
		</tr>
	<% if not @my_follows.nil? then %>
		<% @my_follows.each do |follow|%>
		<%end%>
	<%end%>
	</table>
</div>