<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "people.css" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "findPeople.js" %>
<% end %>

<div id="findPeopleContent">
	<h3>Find people to follow</h3>
	<div id="findByAddressBook">
		<div class="addressBookOption">
			<%= image_tag("people/gmail_logo.png") %>
		</div>
	</div>
	<%= render "users/search_form" %>
	<div id="userSearchResultsDiv">
		<p id="userSearchResults">Results<p>
		<table id="userSearchResultsTable">
			<tbody>
				
			</tbody>
		</table>
	</div>
</div>
