<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "shares", "jquery.selectbox" %>
<% end %>

<% content_for :javascripts do %>
	<%= javascript_include_tag "shares", "jquery.selectbox-0.2.min", "pretty-date" %>
	<script type="text/javascript">
		var all_follows = <%= @all_follows %>;
	</script>
<% end %>

<% content_for :subnav do %>
	<div id="contentViewOptions">
		<div class="subNavItem">
			<span class="navLabel">Content order:</span>
			<select id="toggleContentSelect" onchange="toggleContentOrder();">
				<option value="newestFirst">Newest first</option>
				<option value="oldestFirst">Oldest first</option>
			</select>
			<div class="clear"></div>
		</div>
		<div class="subNavItem">
			<span class="navLabel">Content layout:</span>
			<select id="toggleContentLayout" onchange="toggleContentLayout();">
				<option value="postView">Post view</option>
				<option value="titleView">Title view</option>
			</select>
			<div class="clear"></div>
		</div>
		<div class="subNavItem">
			<span class="navLabel">Content sort:</span>
			<select id="toggleContentSort" onchange="toggleContentSort();">
				<option value="unreadOnly">New content only</option>
				<option value="allContent">All content</option>
			</select>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="contentStateOptions">
        <div id="contentOptions">
        	<a class="navTab" href="#addComment-modal-content" data-toggle="modal">
          		<div class="contentOptionBackground" style="background-position:-7px bottom;"></div>
          		<span class="contentOptionText">Comment</span>
          	</a>
          	<a href="#" onclick="setReadState(1);" class="navTab">
          		<div class="contentOptionBackground2" style="background-position:-408px;"></div>
          		<span class="contentOptionText">Read later</span>
          	</a>
        	<a href="#" class="navTab confirm-delete">
        		<div class="contentOptionBackground" style="background-position:-39px bottom;"></div>
        		<span class="contentOptionText">Mute</span>
        	</a>
        	<div class="clear"></div>
        </div>
      	<div class="clear"></div>
	</div>
	<div class="clear"></div>
<% end %>
<div id="contentNavigation">
	<a href="#" onclick="downPost();" id="previousContent" class="btn" title="Previous content">&lt;</a>
	<a href="#" onclick="upPost();" id="nextContent" class="btn" title="Next content">&gt;</a>
	<div class="clear"></div>
</div>
<div id="source_content">
	<div id="shareInfo">
		<table id="commentThread">
			<tr>
				<td>Shared <span id="sharedDate"></span> by <span id="sharedBy"></span> who says: <blockquote id="conversationStarter"></blockquote></td>
			</tr>
		</table>
	</div>

  	<div id="contentSourceSite">Currently reading <span id="feedTitle"></span>.</div>
	<div id="contentMetadata">
		<div id="contentTitleBanner">
			<div id="contentTitle"></div>
			<div class="clear"></div>
		</div>
		<p id="contentInfoLine"><span id="contentPublishDate"></span><span id="contentArthur"></span></p>
	</div>
	<div id="contentBody">
	</div>
</div>

<div id="addComment-modal-content" class="modal hide" style="z-index:2000;">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>Continue the conversation</h3>
	</div>
	<div class="modal-body modal-body-style">
		<%= render 'comments/form' %>
	</div>
</div>

<div id="postPopup-modal-content" class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<div id="popup_contentOptions" style="margin-left: 350px;">
			<a href="#addComment-modal-content" data-toggle="modal" class="popup_navTab">
          		<div class="popup_contentOptionBackground comment_icon"></div>
          		<span class="popup_contentOptionText">Add comment</span>
          		<div class="clear"></div>
			</a>
			<a style="margin-left: -10px;" href="#" onclick="setReadState(1);return false;" class="popup_navTab">
				<div class="popup_contentOptionBackground read-later_icon"></div>
				<span class="popup_contentOptionText">Read later</span>
				<div class="clear"></div>
			</a>
        	<a style="margin-left: -10px;" href="#" class="popup_navTab confirm-delete">
        		<div class="popup_contentOptionBackground clear-all_icon"></div>
        		<span class="popup_contentOptionText">Mute</span>
        	</a>

			<div class="clear"></div>
		</div>
		<div id="popup_navigation" style="margin-right:25px;">
			<a style="margin-left: 10px;" href="#" onclick="downPost();" id="popup_previousContent" class="btn" title="Previous content">&lt;</a>
			<a style="margin-left: 10px;" href="#" onclick="upPost();" id="popup_nextContent" class="btn" title="Next content">&gt;</a>
			<div class="clear"></div>
		</div>
		<div class="clear"></div>
	</div>
	<div class="modal-body" style="max-height: none; min-height:90%; width: 910px; padding-bottom: 10px; padding-top: 0px;">
		<h3 id="popup_contentTitle"></h3>
		<div id="popup_source_content">
			<div id="popup_shareInfo">
				<table id="popup_commentThread">
					<tr>
						<td>Shared on <span id="popup_sharedDate"></span> by <span id="popup_sharedBy"></span> who says: <blockquote id="popup_conversationStarter"></blockquote></td>
					</tr>
				</table>
			</div>
			<div id="popup_contentSourceSite">Currently reading <span id="popup_feedTitle"></span> from <span id="popup_currentTag">all tags</span>.</div>
			<div id="popup_contentMetadata">
				<p id="popup_contentInfoLine"><span id="popup_contentPublishDate"></span><span id="popup_contentArthur"></span></p>
			</div>
			<div id="popup_contentBody">
			</div>
		</div>
	</div>
</div>

<div id="confirm-delete-modal" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        <p>You are about to mute this conversation. You will no longer see this conversation even if others comment on it.</p>
        <p>Are you sure you want to mute this conversation?</p>
    </div>
    <div class="modal-footer">
        <a href="#" onclick="muteConversation();" class="btn danger">Yes</a>
        <a href="javascript:$('#confirm-delete-modal').modal('hide')" class="btn secondary">No</a>
    </div>
</div>


