<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "homepage.css" %>
<% end %>

<div id="mainLeft">
	<div class="mainUpsell">
		<span class="mainNo">1</span>
		Find great content
	</div>
	<div class="mainUpsell">
		<span class="mainNo">2</span>
		Share with followers
	</div>
	<div class="mainUpsell">
		<span class="mainNo">3</span>
		Comment until it hurts
	</div>
	<div class="mainUpsell">
		<span class="mainNo">4</span>
		Rinse. Repeat :-)
	</div>

</div>
<div id="mainRight">
	<h2>Get started now</h2>
	<%= render 'users/form' %>
</div>
