html,
body {
	margin: 0;
	padding: 0;
	
	font-family: sans-serif;
	
	color: #666666;
	
	width: 100%;
}

header { 
	display:block;
	
	height: 75px;
	
	padding: 10px;
	margin: 0 auto;
	
	width: 940px;
}

header > h1 {
	display: inline;
	float: left;
}

header > h3 {
	display: inline;
	float: left;
	
	padding-top: 14px;
	padding-left: 5px;
	
	
}

header > #navigation {
	float: right;
	
	margin-top: 25px;
	margin-right: 50px;
}

header > #navigation > a,
header > #navigation > a:visited {
	width: 100px;
	height: 30px;
	
	background-color: #ff9900;
	color: #424242;

	display: block;
	
	text-decoration: none;
	text-align: center;
	font-weight: bold;

	padding-top: 10px;

	margin-right: 10px;
	float: left;
}

header > #navigation > a:hover {
	background-color: #3299BB;
}

#content {
	width: 940px;
	height: 550px;
	
	margin: 0 auto;
}

#footer {
	width: 940px;
	margin: 0 auto;

	font-size: 12px;
	
	color: #999999;
}

#footer > a,
#footer > a:visited {
	font-size: 12px;
	
	color: #999999;
	
	text-decoration: none;
	
	margin-right: 25px;

	float: right;
}

#footer > a:first-of-type {
	margin-right: 50px;
}

#footer > a:hover {
	color: #222222;
}

#mainRight,
#mainLeft {
	float: left;
	width: 50%;
	margin-top: 50px;
}

span.mainNo {
	display:-moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	
	float: left;
	margin-right: 15px;
	
	text-align: center;
	vertical-align: middle;
	
	width: 35px;
	height: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	
	background-color: #424242;
	color: #E9E9E9;
	
	line-height: 38px;
}

div.mainUpsell {
	padding: 10px;

	font-size: 32px;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

#mainRight > h2 {
	margin-top: 12px;
}

#tabs {
	height: 90%;
}
