#mainRight,
#mainLeft {
	float: left;
	width: 50%;
	margin-top: 50px;
}

span.mainNo {
	display:-moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	
	float: left;
	margin-right: 15px;
	
	text-align: center;
	vertical-align: middle;
	
	width: 35px;
	height: 35px;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
	
	background-color: #424242;
	color: #E9E9E9;
	
	line-height: 38px;
}

div.mainUpsell {
	padding: 10px;

	font-size: 32px;
}

#mainRight > h2 {
	margin-top: 12px;
}
