		<div id="footer">
			
				<%= link_to "About Amplifize", :about %>
				<%= link_to "FAQ", :faq %>
				<%= link_to "Contact Us", :contact %>
				<%= link_to "Terms & Conditions", :terms %>
			<span class="copyright">Built by Big Fish, Big Pond Inc. &copy; 2012</span>
			<div style="clear:both"></div>
		</div>
