#addShares-modal-content,
#addFeed-modal-content,
#importFeed-modal-content,
#addTags-modal-content,
#deleteTags-modal-content {
	display: none;
}

.formField {
	margin-bottom: 10px;
	padding: 3px;
}

.manageFeedRow {
	padding: 10px;
	
	border-bottom: 1px solid black;
}

.manageFeedRowTitle a,
.manageFeedRowTitle a:visited {
	color: #666;
	
	text-decoration: none;
}

.manageFeedRowTitle a:hover {
	text-decoration: underline;
}

ul.manageFeedRowTags {
	list-style: none;
}
