html,
body {
	margin: 0;
	padding: 0;

	font-family: sans-serif;

	color: #666666;

	width: 100%;
	height: 100%;
}

header { 
	height: 60px;
	margin: 0 auto;
	width: 940px;
}

h1 > a,
h1 > a:visited {
	text-decoration: none;
	color: #000000;
}

h1 > a:hover {
	text-decoration: none;
}

#content {
	width: 940px;
	min-height: 500px;
	margin: 0 auto;
	padding: 10px;
}

#footer {
   width: 100%;
   color: #999999;
   text-align: center;
   
   padding-top: 10px;
   padding-bottom: 10px;
}

#footer > a,
#footer > a:visited {
	color: #999999;
	text-decoration: none;
	margin-right: 25px;
}

#footer > span.copyright {
	margin-left: 25px;
}

#footer > a:hover {
	color: #222222;
}
