#addComment-modal-content,
#addShares-modal-content {
	display: none;
}

#reader_content {
	position:relative;
	height: 100%;
	width: 100%;
	float: left;
}

#amplifizeContent {
	min-height: 525px;
	height: 100%;
	overflow: hidden;
	padding-left: 20px;
}

#navigation {
	float: left;
	width: 150px;
}

ul.drawers {
	list-style: none;
	font-size: 14pt;
	margin: 0;
	padding: 0;
}

ul.drawers li {
	float: left;
	width: 150px;
	margin: 0;
	padding: 5px;
	position: relative;
	
	background-color: #E9E9E9;
	text-align: center;
	
	border: 1px solid black;
}

ul.drawers li a,
ul.drawers li a:visited {
	padding: 10px 5px;
	display: block;
	text-decoration: none;
	float: left;
	
	color: inherit;
}

li#feedsNav.drawer ul {
	margin: 0 10px;
	padding: 0;
	background-color: #999;
	list-style: none;
	
	visibility: hidden;
	display: none;
}

li#feedsNav.drawer ul li {
	font-size: 16px;
	padding: 0;
	margin: 0;
	
	border: 0;
	
	text-align: left;
	
	width: 140px;
}

li#feedsNav.drawer ul li a {
	padding: 0;
}
