#container {
	min-height:100%;
	position:relative;

	width: 940px;
	margin: 0px auto;
}

header { 
	width: 100%;
}

header > h1 {
	display: inline;
	float: left;
	padding-left: 10px;
}

header > h1 > a,
header > h1 > a:visited {
	text-decoration: none;
	color: inherit;
}

#appNav {
	left: 50%;
    margin-left: -470px;
    position: fixed;
    width: 940px;
    padding: 10px;
    
    background-color: #fff;    
}

#addComment-modal-content {
	display: none;
}

#reader_content {
	width: 940px;
	margin: 89px auto 0px;
	padding-bottom:40px;
	padding-top: 25px;
	
	background-color: #ffffff;
}

#amplifizeContent,
#findPeopleContent {
	padding-left: 10px;
	padding-right: 10px;
}

#amplifizeContentNavigation {
	font-size: 18px;
}

#feedRow {
	margin-bottom: 10px;
}

#feedTitle a,
#feedTitle a:visited {
	text-decoration: none;
	color: inherit;
}

#feedTitle a:hover {
	text-decoration: underline;
}

#contentRow {
	margin-bottom: 20px;
}

#contentTitle a,
#contentTitle a:visited {
	font-size: 24px;
	text-decoration: none;
	
	color: #333;
	
	padding: 0;
}

#contentTitle a:hover {
	text-decoration: underline;
}

#contentPublishDate,
#sharedBy {
	color: #333;
	margin-bottom: 15px;
}

#shareUnreadCount,
#feedUnreadCount {
	margin-left: 10px;
	padding: 5px;
	
	background-color: #f00;
    
    font-size: 12px;
	color: #fff;
    
    height: 20px;
    line-height: 20px;
    
    text-align: center;
}

#selectTag,
#selectFollows {
	width: 200px;
	float: left;
}

#menuOptions {
	float: right;
}

.navTab {
	width: 50px;
	margin-right: 10px;

	text-align: center;
	padding: 2px;

	color: #000;
}

#overlay {
     visibility: hidden;
     position: absolute;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 1000;
     background-image: url("/images/reader/overlay.png");
}

#overlay div {
     width:300px;
     margin: 100px auto;
     padding:15px;
     text-align:center;
     color: #fff;
}

.modal-body-style {
	margin-left: 17px;
	padding-bottom: 10px;
}
