header { 
	width: 100%;
}

header > h1 {
	display: inline;
	float: left;
	padding-left: 10px;
}

header > h1 > a,
header > h1 > a:visited {
	text-decoration: none;
	color: inherit;
}

#appNav {
	float: left;
	margin: 0 auto;
	
	width: 600px;
	
	padding-top: 25px;
}

#addComment-modal-content {
	display: none;
}

#reader_content {
	height: 100%;
	width: 100%;
	
	overflow: auto;
}

#amplifizeContent,
#findPeopleContent {
	min-height: 525px;
	height: 100%;

	padding-left: 10px;
	padding-right: 10px;
	
	margin-left: 175px;
}

#navigation {
	float: left;
	width: 175px;
	height: 100%;
}

ul.drawers {
	list-style: none;
	font-size: 14pt;
	margin: 0;
	padding: 0;
	
	float: left;
}

ul.drawers li {
	float: left;
	width: 150px;
	margin: 0;
	padding: 5px;
	
	background-color: #E9E9E9;
	text-align: center;
	
	border: 1px solid black;
}

ul.drawers li a,
ul.drawers li a:visited {
	padding: 10px 5px;
	display: block;
	text-decoration: none;
	float: left;

	color: inherit;
}

li#feedsNav.drawer ul,
li#peopleNav.drawer ul {
	margin: 0 10px;
	padding: 0;
	background-color: #999;
	list-style: none;
	
	visibility: hidden;
	display: none;
}

li#feedsNav.drawer ul li,
li#peopleNav.drawer ul li {
	font-size: 16px;
	padding: 0;
	margin: 0;
	
	border: 0;
	
	text-align: left;
	
	width: 140px;
}

li#feedsNav.drawer ul li a,
li#peopleNav.drawer ul li a {
	padding: 0;
}

#amplifizeContentNavigation {
	font-size: 18px;
	text-align: center;

	float: right;

	margin-right: 20px;
}

#feedRow {
	margin-bottom: 10px;
}

#feedTitle a,
#feedTitle a:visited {
	font-size: 24px;
	text-decoration: none;

	color: #999;
}

#feedTitle a:hover {
	text-decoration: underline;
}

#contentRow {
	margin-bottom: 20px;
}

#contentTitle a,
#contentTitle a:visited {
	font-size: 16px;
	text-decoration: none;
	
	color: #333;
	
	padding: 0;
}

#contentTitle a:hover {
	text-decoration: underline;
}

#contentPublishDate,
#sharedBy {
	color: #333;
	margin-bottom: 15px;
}

#shareUnreadCount,
#feedUnreadCount {
	background-color: #FFFFFF;
    border-radius: 40px 40px 40px 40px;
    display: -moz-inline-box;
    float: right;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
