#shareUnreadCount {
	background-color: #FFFFFF;
    border-radius: 40px 40px 40px 40px;
    display: -moz-inline-box;
    float: right;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
}
