<form id="inviteFriendsForm" method="POST" action="/invite/create" data-remote="true">
	<div class="formField">
		<label class="input">
			<span>Email address</span>
			<input type="email" id="invite_email" name="email" oninput="customValidate(this);" />
		</label>
	</div>
	<div class="formField">
		<label class="input">
			<span>Personal message</span>
			<textarea id="invite_message" name="message" rows="3" style="width:270px;color:#fff;background-color: #245563;border:none;">I'm finding and talking about great web content on amplifize. Come join me.</textarea>
		</label>
	</div>
	<div class="formField">
		<input type="submit" value="Invite" class='peopleSubmit' />
	</div>
</form>
