<form id="userSearchForm" method="POST" action="/users/search" data-remote="true">
	<label for="email">Email: </label><input type="email" id="search_email" name="email" oninput="customValidate(this);" /><input type="submit" value="Search" />	
</form>
