<form id="userSearchForm" method="POST" action="/users/search" data-remote="true">
	<div class="formField">
		<label class="input">
			<span>Email address</span>
			<input type="email" id="search_email" name="email" oninput="customValidate(this);" />
		</label>
	</div>
	<div class="formField">
		<input type="submit" value="Search" class='peopleSubmit' />
	</div>
</form>
