<p>There's a lot of great content on the web. You can find it in a bunch of places - blogs, recipe sites, digital newspapers. Most of these sites
	have built a community around their content. But we all know how that goes. Trolls, bullies, and the idiots who have to be the first to post dominate
	the conversation, while your thorough, thoughtful response gets lost in the noise.</p>

<p>You already have your friends you talk tech with, your friends you talk music with, and your friends you talk sports with. Why wouldn't you just
	share your favorite blog posts and articles with them?</p>

<p>Enter Amplifize</p>

<p>It's actually quite simple.
	<ul>
		<li>You subscribe to an RSS feed</li>
		<li>Find, and follow, others whose interests are similar to your own</li>
		<li>Share your favorite posts</li>
		<li>Discuss with friends, co-workers, and whomever else</li>
	</ul>
</p>

<p>You'll be amazed to see how one simple share will become a memorable conversation you'll refer back to again and again.</p>

<p>Welcome to Amplifize - we give good content a voice.</p>