<h2>Frequently Asked Questions</h2>
<ul>
	<li class="question">What is Amplifize?</li>
	<li class="answer">Amplifize is simple. It’s about you, the content you love, and the friends you want to share it with.  We give good content a voice.</li>
	
	<li class="question">Well that’s nice, but what is Amplifize, really?</li>
	<li class="answer">Amplifize is currently structured around sharing content from RSS feeds. Feeds that you subscribe to can be shared and commented on by you and your friends, without getting lost in the noise of the web.</li>
	
	<li class="question">So what if I want to share other content? Videos, articles, or something other then RSS feeds?</li>
	<li class="answer">We hear you, and we’re working on it.</li>
	
	<li class="question">Ok, so now that I know what Amplifize is, what do I do?</li>
	<li class="answer">First, <%= link_to "sign up", :login %>. You do need to be a verified user to use the service. (Hey, we are trying to weed out the unwanted stuff, so we know you’ll understand.) Next, add some feeds. As of now, we are only allowing sharing of RSS feeds. Once you sign up for your favorite feeds, start sharing.</li>
	
	<li class="question">How do I add a feed on Amplifize?</li>
	<li class="answer">Adding a feed is easy, but first you have to find a feed to add. If you don't have one to start off with, then consider adding the Amplifize Blog to your account. Once you’ve logged in, click on "Add Feed" in the left hand navigation. A dialog box will be pop up in the middle of the screen, where you can paste your favorite feed link (or http://www.amplifize.com/blog/feed/ if you don't have anything to add) into the box. <em>Note, be sure that you use an RSS feed link, as a standard website link wont work.</em> For more helpful hints, check out this <a href="http://www.amplifize.com/blog/2012/06/taggingyourfeed/" target="_blank">blog post</a> on adding a feed.</li>

	<li class="question">What are tags? Why should I use them?</li>
	<li class="answer">You can now "tag" your feeds. Tagging allows you to keep track of your favorite feeds by using key words to lump a bunch of your feeds together. Then, on the main feeds page, you can select a tag, and only see posts from those feeds. Eventually, your followers will be able to subscribe to just the tags they want to follow.</li>	
</ul>