<h2>Frequently Asked Questions</h2>
<ul>
	<li class="question">What is Amplifize?</li>
	<li class="answer">Amplifize is simple. It’s about you, the content you love, and the friends you want to share it with.  We give good content a voice.</li>
	
	<li class="question">Well that’s nice, but what is Amplifize, really?</li>
	<li class="answer">Amplifize is currently structured around sharing content from RSS feeds. Feeds that you subscribe to can be shared and commented on by you and your friends, without getting lost in the noise of the web.</li>
	
	<li class="question">So what if I want to share other content? Videos, articles, or something other then RSS feeds?</li>
	<li class="answer">We hear you, and we’re working on it.</li>
	
	<li class="question">Ok, so now that I know what Amplifize is, what do I do?</li>
	<li class="answer">First, <%= link_to "sign up", :login %>. You do need to be a verified user to use the service. (Hey, we are trying to weed out the unwanted stuff, so we know you’ll understand.) Next, add some feeds. As of now, we are only allowing sharing of RSS feeds. Once you sign up for your favorite feeds, start sharing.</li>	
</ul>