<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "homepage.css" %>
<% end %>

<div id="mainLeft">
	<div class="mainUpsell">
		<span class="mainNo">1</span>
		Find unique content
	</div>
	<div class="mainUpsell">
		<span class="mainNo">2</span>
		Share with friends
	</div>
	<div class="mainUpsell">
		<span class="mainNo">3</span>
		Have great conversation
	</div>
	<div class="mainUpsell">
		<span class="mainNo">4</span>
		Rinse. Repeat.
	</div>

</div>
<div id="mainRight">
	<h2>Register to get started</h2>
	<%= render 'users/form' %>
</div>
