<h2>Terms of service</h2>
<p>
	amplifize, its developers, and those associated with the project
	<ul>
		<li>Hold no copyright claims over the content presented on this site</li>
		<li>Will gladly remove any content that a content owner deems is inappropriately shared on this site</li>
		<li>Ask that all users of the site do so in good spirits and with cordial manners</li>
	</ul>
</p>