<p>
	Amplifize.com: 
	<ul>
		<li>Holds no copyright claims over the content presented on this site</li>
		<li>Will gladly remove any content that a content owner deems is inappropriately shared on this site</li>
		<li>Asks that all users of the site do so in good spirits and with cordial manners</li>
	</ul>
</p>