<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "import.css" %>
<% end %>

<h2 id="importTitle">Import Feeds</h2>
<div class="importOption">
	<h3>From other RSS readers</h3>
	<p>Export subscriptions from other readers as an OPML file.</p>
	<%= form_for :import, :url => :import_opml, :html => {:multipart => true, :id => "importForm"} do |f| %>
  		<div class="formField">
  			<label for="opml_file">OPML file</label>
  			<%= f.file_field :opml_file %>
  		</div>
  		<div class="formField">
  			<%= f.submit "Import" %>
  		</div>
	<% end %>
</div>
