<% content_for :body do %>
<p>You, or someone else using your email address, has asked to reset your password for amplifize.</p>

<p>If you intended to reset your password, then click the link below:</p> 
<p><a href="<%= @reset_url %>"><%= @reset_url %></a></p>

<p>Otherwise, please ignore this email</p>

<p>Thanks for keeping the conversation going.</p>
<% end %>
