/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 */

/* CSS VARIABLES */

.clear {
  clear: both;
}

.highlight {
  color: #ff0300;
}

.center {
	text-align:center;
}

/* BEGINNING OF GLOBAL STYLES */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  
  font-family: "Open Sans", sans-serif;
  
  color: #09222A;
}

#container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #fff;
  height: 50px;
}

.logo {
	margin-top: 3px;
	
	position: absolute;
	display: block;
	height: 44px;
	background: no-repeat url(/assets/shared/logo.gif);
	padding: 0;
	padding-left: 50px;
}

header h1 > a, header h1 > a:visited, header h1 > a:hover {
  text-decoration: none;
  color: #09222a;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 35px;
}

header li > a,
header li > a:visited,
header li > a:hover {
  font-size: 18px;
  margin-top:3px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.navbar {
  width: 940px;
  margin: 0 auto;
}
/* END OF GLOBAL STYLES */

/* BEGINNING OF CONTENT SECTION */
#content {
  width: 940px;
  margin: 0px auto;
  min-height: 550px;
}

/* END OF CONTENT SECTION */

/* BEGINNING OF FOOTER SECTION */
#footer {
  margin: 0;
  padding: 0;
  background-color: #171f21;
}

#footerBar {
  width: 940px;
  margin: 0 auto;
  padding: 10px;
}

.footerItem h3 {
	color: #c1c1c1;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
}

.footerItem {
  float: left;
  width: 230px;
}

.footerItem > ul > li {
  list-style: none;
  margin-left: -25px;
}

.footerItem > ul > li > a, .footerItem > ul > li > a:visited,
.copyright {
  color: #5a6264;
  font-weight: normal;
  font-size: 12px;
}

.copyright {
	margin-left: 10px;
}

.footerItem > ul > li > a:hover {
  text-decoration: underline;
}
/* END OF FOOTER SECTION */

.modal-header h3 {
	font-family: "Roboto", sans-serif;	
}
