#addShares-modal-content,
#addFeed-modal-content,
#addTags-modal-content,
#deleteTags-modal-content {
	display: none;
}

.formField {
	margin-bottom: 10px;
	padding: 3px;
}

#toggleContentSelect,
#toggleContentLayout,
#toggleContentSort {
	width: 150px;
}
