.onoffswitch {
  position: relative;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}

#contentOrderSwitchDiv {
  width: 235px;
}

#contentLayoutSwitchDiv {
	width: 213px;
}

#contentSortSwitchDiv {
	width: 224px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #999999; border-radius: 20px;
}

.onoffswitch-inner {
  width: 200%;
  margin-left:
  -100%;
  -moz-transition: margin 0.3s ease-in 0s;
  -webkit-transition: margin 0.3s ease-in 0s;
  -o-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, 
.onoffswitch-inner:after {
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 25px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  padding-left: 10px;
  background-color: #FFFFFF; 
  color: #999999;
}

.onoffswitch-inner:after {
  padding-right: 10px;
  background-color: #ff0300; 
  color: #fff;
  text-align: right;
}

#contentOrder:before {
	content: "NEWEST FIRST";
}

#contentOrder:after {
	content: "OLDEST FIRST";
}

#contentLayout:before {
	content: "POST VIEW";
}

#contentLayout:after {
	content: "TITLE VIEW";
}

#contentSort:before {
	content: "NEW CONTENT";
}

#contentSort:after {
	content: "ALL CONTENT";
}

.onoffswitch-switch {
  width: 14px;
  margin: 5.5px;
  background: #FFFFFF;
  border: 2px solid #999999;
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  -moz-transition: all 0.3s ease-in 0s;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

#contentOrderSwitchDiv .onoffswitch-switch {
  right: 112px;
}

#contentLayoutSwitchDiv .onoffswitch-switch {
  right: 87px;
}

#contentSortSwitchDiv .onoffswitch-switch {
  right: 109px;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

#contentOrderSwitchDiv .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch,
#contentLayoutSwitchDiv .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch,
#contentSortSwitchDiv .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
