#subNav {
  background: #072229 url(/assets/homepage/banner-background.png) no-repeat fixed 0px 50px;
  margin-bottom: 20px;
}

#subNavContainer {
  width: 940px;
  margin: 0 auto;
}

#contentViewOptions {
  float: left;
}

#contentStateOptions {
  float: right;
}

.subNavItem {
  float: left;
  margin-right: 20px;
  margin-top: 8px;
}

#previousContent, #nextContent {
  float: left;
  margin-right: 20px;
  margin-top: 8px;
}

.navLabel {
  float: left;
  margin-right: 10px;
  line-height: 28px;
}

#shareUnreadCount, #feedUnreadCount {
  margin-left: 10px;
  margin-top: -20px;
  padding: 5px;
  font-size: 12px;
  color: #fff;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 15px;
  
  font-family: "Arial", sans-serif;
}

#feedUnreadCount {
	background-color: #55d278;
}

#shareUnreadCount {
	background-color: #3aaadb;
}

/* BEGINNING OF SUB-NAVIGATION SECTION */
#menubar {
  width: 40px;
  margin: 0;
  position: fixed;
}

/* END OF SUB-NAVIGATION SECTION */

/* CONTENT SECTION */
#source_content {
  margin-left: 40px;
  padding-left: 20px;
}

#popup_source_content {
	padding-right: 20px;
}

#contentSourceSite,
#popup_contentSourceSite {
  margin-bottom: 10px;
}

#contentTitle {
  font-size: 28px;
  margin-right: 20px;
  margin-bottom: 5px;
  float: left;
}

#popup_contentTitle {
	width: 690px;
	margin-right: 0px;
	font-size: 28px;
	float: left;
}

#contentOptions {
  text-align:center;
}

#popup_contentOptions a {
	float: left;
}

#titleList li {
  list-style: none;
  padding: 5px 10px;
  margin-left: -27px;
  margin-bottom: 10px;
  width: 100%;
}

#titleList li:nth-child(2n) {
  background-color: #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

#titleList a {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}
/* END OF CONTENT SECTION */


#appNav{
	width: 940px;
    
    margin: 10px auto;
    padding: 10px;    

	background-color: #fff;
}

#content {
	padding-bottom:40px;
}

#amplifizeContent,
#findPeopleContent {
	padding-right: 10px;
	margin-top: 40px;
}

#amplifizeContentNavigation { 
  	position: fixed;
  	width: 940px;
  	margin-left: -470px;
  	padding-top: 10px;
  	left: 50%;
  	
  	background-color: white;
}

#menuOptions {
	font-size: 16px;
	
	float: right;
}

#menuOptions a {
	margin-right: 20px;
}

#menuOptions .btn {
	margin-right: 10px;
}

#feedRow {
	margin-bottom: 10px;
}

#feedTitle a,
#feedTitle a:visited {
	text-decoration: none;
	color: #333;
}

#feedTitle a:hover {
	text-decoration: underline;
}

#contentRow {
	margin-bottom: 20px;
}

#contentTitle a,
#contentTitle a:visited,
#popup_contentTitle a,
#popup_contentTitle a:visited {
	font-size: 22px;
	text-decoration: none;
	
	color: #333;
	
	padding: 0;
}

#contentTitle a:hover,
#popup_contentTitle a:hover {
	text-decoration: underline;
}

#contentPublishDate,
#popup_contentPublishDate
#sharedBy,
#popup_sharedBy {
	color: #333;
	margin-bottom: 15px;
}

#subNavContainer a {
	margin-right: 50px;
}

.navTab {
	width: 50px;
	margin-right: 10px;

	text-align: center;
	padding: 2px;

	color: #000;
}

#overlay {
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 5000;
     background-image: url("/assets/reader/overlay.png");
}

#overlay div {
     width:300px;
     margin: 100px auto;
     padding:15px;
     text-align:center;
     color: #fff;
}

.modal-body-style {
	padding-bottom: 10px;
	padding-left: 15px;
}

#readerSource-overlay {
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	background-color: rgba(0,0,0, 0.75);
	
	z-index: 1200;
}

#readerSource-overlay-modal {
	position:fixed;
	left: 0;
	margin-top: 50px;
	
	z-index: 1201;
	
	border-radius: 0 5px 5px 0;

	background-color: white;
	
	padding: 10px;
	
	height: 500px;
	min-width: 215px;
	overflow: hidden;
}

.readerViewFormField {
	float: left;
	margin-right: 20px;
}

.readerViewFormField label {
	float: right;
	margin-left: 5px;
	line-height: 22px;
}

#titleView {
	display: none;
	visibility: hidden;
}

#sectionNavigation {
	padding-top: 60px;
}

#postPopup-modal-content {
	width: 960px;
	margin: -300px 0 0 -450px;
	overflow-y:auto;
	max-height:90%;
}

#popup_contentOptions {
	float: right;
	width: 200px;
}

#popup_read-later_icon {
	margin-top: -4px;
}

.instructions {
	font-face: "Roboto", sans-serif;
	font-size: 12px;
	font-weight: 100;
}
