#subNav {
  background: #072229 url(/assets/homepage/banner-background.png) no-repeat fixed 0px 50px;
  margin-bottom: 20px;
}

#subNavContainer {
  width: 940px;
  margin: 0 auto;
}

#contentViewOptions {
	padding: 0 0 20px 6px;
	width: 680px;
}

.subNavItem {
  float: left;
  margin-right: 20px;
  margin-top: 8px;
}

#previousContent, #nextContent {
  float: left;
  margin-right: 20px;
  color: black;
}

#previousContent {
	margin-left: 25%;
}

.navLabel {
	line-height: 28px;
	display: block;
	font-size: 15px;
	color: white;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
}

#shareUnreadCount, #feedUnreadCount {
  margin-left: 10px;
  margin-top: -20px;
  padding: 5px;
  font-size: 12px;
  color: #fff;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 15px;
  
  font-family: "Arial", sans-serif;
}

#feedUnreadCount {
	background-color: #55d278;
}

#shareUnreadCount {
	background-color: #3aaadb;
}

/* BEGINNING OF SUB-NAVIGATION SECTION */

#contentNavigation {
	position:fixed;
	bottom:0;
	left:0;
	
	width: 100%;
	
	background-color: #072229;
	
	padding: 10px 0px 10px 20px;
}

#contentNavigation div.navTab {
	text-align: center;
	
	display: block;

	float: left;
	width: 20%;
	margin: 0;
}

div.navTab a,
div.navTab a:visited {
	color: #fff;
}
/* END OF SUB-NAVIGATION SECTION */

/* CONTENT SECTION */
#popup_source_content {
	padding-right: 20px;
}

#contentSourceSite,
#popup_contentSourceSite {
  margin-bottom: 10px;
  
  color: #737373;
  font-size: 12px;
}

#contentTitleBanner {
	margin-bottom: -7px;
}

#contentTitle {
  font-size: 25px;
  margin-right: 20px;
}

#popup_contentTitle {
	margin-right: 0px;
	font-size: 25px;
}

#contentOptions {
  text-align:center;
}

#popup_contentOptions a {
	float: left;
	margin-right: 30px;
	padding: 5px;
}

#titleList li {
  list-style: none;
  padding: 5px 10px;
  margin-left: -27px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

#titleList li:nth-child(2n) {
  background-color: #ccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

#titleList a {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

#titleList .read,
#titleList .read a {
	font-size: 12px;
	margin-top: 0;
	margin-bottom: 0;
}

#titleList .read li {
	padding: 0;
}

/* END OF CONTENT SECTION */


#appNav{
	width: 940px;
    
    margin: 10px auto;
    padding: 10px;    

	background-color: #fff;
}

#content {
	padding-bottom:40px;
}

#amplifizeContent,
#findPeopleContent {
	padding-right: 10px;
	margin-top: 40px;
}

#amplifizeContentNavigation { 
  	position: fixed;
  	width: 940px;
  	margin-left: -470px;
  	padding-top: 10px;
  	left: 50%;
  	
  	background-color: white;
}

#menuOptions {
	font-size: 16px;
	
	float: right;
}

#menuOptions a {
	margin-right: 20px;
}

#menuOptions .btn {
	margin-right: 10px;
}

#feedRow {
	margin-bottom: 10px;
}

#feedTitle a,
#feedTitle a:visited {
	text-decoration: none;
	color: #737373;
	
	font-size: 12px;
	font-style: italic;
}

#feedTitle a:hover {
	text-decoration: underline;
}

#contentRow {
	margin-bottom: 20px;
}

#contentTitle a,
#contentTitle a:visited {
	font-size: 25px;
	font-family: "Roboto";
	font-weight: 400;
	line-height: 32px;

	text-decoration: none;
	
	color: #4ac36c;
	
	padding: 0;
}

#popup_contentTitle a,
#popup_contentTitle a:visited {
	font-size: 25px;
	font-family: "Roboto";
	font-weight: 400;
	line-height: 32px;

	text-decoration: none;
	
	color: #5c5c5c;
	
	padding: 0;
}


#contentTitle a:hover,
#popup_contentTitle a:hover {
	text-decoration: underline;
}

#contentPublishDate,
#popup_contentPublishDate {
	color: #b8b8b8;
	margin-bottom: 15px;
	font-size: 12px;
}

.contentOptionText {
	visibility: hidden;
}

.popup_navTab {
	float: left;
}

.popup_navTab:hover {	
	background-color: #4ac36c;
	border-radius: 5px;
	text-decoration: none;
}

.popup_contentOptionText {
	color: #888888;
	float: left;
	font-size: 15px;
}

.popup_navTab:hover .popup_contentOptionText {
	color: #fff;
}

.popup_contentOptionBackground {
	float: left;
	
	background-image: url("/assets/shared/amplifize_icons_hover2.png");
	background-repeat: no-repeat;
	width: 45px;
	height: 27px;
	margin-right: 10px;
	margin-top: -7px;
}

.popup_contentOptionBackgroundStar {
	float: left;
	
	background-image: url("/assets/shared/star-grey.png");
	background-repeat: no-repeat;
	width: 45px;
	height: 27px;
	margin-top: -7px;
}


.share_icon {
	background-position:-113px top;
}

.popup_navTab:hover .share_icon {
	background-position: -113px -42px;
}

.read-later_icon {
	background-position:-290px top;
	margin-top: -5px;
	margin-right: -10px;
}

.clear-all_icon {
	background-position:-40px top;
	margin-top: -5px;
	margin-right: -10px;
}

.popup_navTab:hover .read-later_icon {
	background-position:-290px -42px;
	margin-right: -10px;
}

.comment_icon {
	background-position: 0px top;
}

.popup_navTab:hover .comment_icon {
	background-position: 0px -42px;
}

.popup_navTab:hover .clear-all_icon {
	background-position: -40px -42px;
	margin-right: -10px;
}



#popup_navigation,
#popup_contentOptions {
	float: left;
}

.contentOptionBackground {
	background-image: url("/assets/shared/amplifize_icons_hover.png");
	background-repeat: no-repeat;
	width: 40px;
	height: 32px;
	margin-left: 10px;
	margin-top: 3px; 
}

.contentOptionBackground2 {
	background-image: url("/assets/shared/amplifize_icons.png");
	background-repeat: no-repeat;
	width: 40px;
	height: 32px;
	margin-left: 8px;
	margin-top: 3px; 
}

.contentOptionBackgroundStar {
	background-image: url("/assets/shared/star-white.png");
	background-repeat: no-repeat;
	width: 40px;
	height: 32px;
	margin-left: 17px;
	margin-top: 3px;
}

#overlay {
     visibility: hidden;
     position: fixed;
     left: 0px;
     top: 0px;
     width:100%;
     height:100%;
     text-align:center;
     z-index: 5000;
     background-image: url("/assets/reader/overlay.png");
}

#overlay div {
     width:300px;
     margin: 100px auto;
     padding:15px;
     text-align:center;
     color: #fff;
}

.modal-body-style {
	padding-bottom: 10px;
	padding-left: 15px;
}

#readerSource-overlay {
	position: fixed;
	top: 0;
	left: 0;

	height: 100%;
	width: 100%;

	background-color: rgba(0,0,0, 0.75);
	
	z-index: 1200;
}

#readerSource-overlay-modal {
	position:fixed;
	left: 0;
	margin-top: 50px;
	
	z-index: 1201;
	
	border-radius: 0 5px 5px 0;

	background-color: white;
	
	padding: 10px;
	
	height: 500px;
	min-width: 215px;
	overflow: hidden;
}

.readerViewFormField {
	float: left;
	margin-right: 20px;
}

.readerViewFormField label {
	float: right;
	margin-left: 5px;
	line-height: 22px;
}

#titleView {
	display: none;
	visibility: hidden;
}

#sectionNavigation {
	padding-top: 60px;
}

#postPopup-modal-content {
	width: 960px;
	margin: -300px 0 0 -450px;
	overflow-y:auto;
	max-height:90%;
}

#popup_read-later_icon {
	margin-top: -4px;
}

.instructions {
	font-family: "Roboto", sans-serif;
	font-size: 12px;
	font-weight: 100;
}

#contentBody {
	font-size: 13px;
	color: #737373;
	line-height: 20px;
}

#sharePostFlyout,
#commentPostFlyout {
	visibility: hidden;
	display:none;
}

