#shareInfo,
#popup_shareInfo {
	font-size: 16px;
}

#conversationStarter,
#popup_conversationStarter {
	font-size: 22px;
	margin: 15px 5px 0 0;
	line-height: 30px;
}

#commentThread,
#popup_commentThread {
	border: 0;

	width: 100%;

	margin-bottom: 20px;
}

#commentThread tr,
#popup_commentThread tr {
	padding: 5px;
	margin: 2px;
}

#commentThread td {
	font-size: 14px;	
}

.commentAuthor {
	margin-right: 10px;
	font-style: italic;
	color: #454545;
	
	font-size: 12px;

	background-color: rgba(0,0,0, 0.1);

	padding: 5px 0 5px 5px;
}

tr.commentInstance td {
	padding-left: 10px;
	padding-top: 10px;

	max-width: 940px;
}
