/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .markItUpButton1 a {
	background-image:url(/images/markitup/bold.png);
}
.markItUp .markItUpButton2 a {
	background-image:url(/images/markitup/italic.png);
}
.markItUp .markItUpButton3 a {
	background-image:url(/images/markitup/stroke.png);
}

.markItUp .markItUpButton4 a {
	background-image:url(/images/markitup/list-bullet.png); 
}
.markItUp .markItUpButton5 a {
	background-image:url(/images/markitup/list-numeric.png);
}

.markItUp .markItUpButton6 a {
	background-image:url(/images/markitup/picture.png); 
}
.markItUp .markItUpButton7 a {
	background-image:url(/images/markitup/link.png);
}

.markItUp .markItUpButton8 a {
	background-image:url(/images/markitup/clean.png);
}
.markItUp .preview a {
	background-image:url(/images/markitup/preview.png);
}
